<%= form_for lend, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.text_field :item, :class => 'text_field span4', placeholder: 'O que você emprestou?' %>
  
  <div id="text_or_friend">
    <div id="use_text_friend">
      <%= f.text_field :friend_name, :class => 'text_field', placeholder: 'Pra quem?' %>
    </div>
    <div id="select_friend">
      <%= collection_select(:lend, :friend_id, current_user.friends, :id, :email, :prompt => 'Pra quem?') %>
    </div>
  </div>
  
  <span>
    <%= f.check_box :use_text %> outra pessoa
  </span>
  
  <%= f.submit nil, :class => 'btn btn-success span2' %>

<% end %>
