<%- model_class = Lend.new.class -%>

<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:item) %></th>
      <th><%= model_class.human_attribute_name(:friend_name) %></th>
      <th><%= model_class.human_attribute_name(:friend_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lends.each do |lend| %>
      <tr>
        <td><%= lend.item %></td>
        <td><%= lend.friend_name %></td>
        <td><%= lend.friend %></td>
        <td><%=l lend.created_at, format: :short %></td>
        <td><%= reminder_counter(lend) %> <%= link_to 'lembrete', new_lend_reminder_path(lend) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lend_path(lend), :class => 'btn btn-mini', remote: true %>
          <%= link_to_destroy lend_path(lend) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Novo empréstimo</h2>

<div id="new_lend">
  <%= render 'form', :lend => current_user.lends.build  %>
</div>
